<h1><%= action_name.capitalize %> Товари</h1>

<%= form_with(model: @gym_shop, local: true) do |form| %>
  <% if @gym_shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gym_shop.errors.count, "помилка") %> заважає зберегти товар:</h2>

      <ul>
        <% @gym_shop.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :Назва %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :Опис %>
    <%= form.text_area :description , class: 'form-control' %>
  </div>

  <%= form.submit class: 'd-block btn btn-primary w-100 mb-4' %>
<% end %>

<%= link_to 'Назад', gym_shops_path, class: 'btn btn-secondary d-block' %>