<h1><%= @gym_shop.name %></h1>
<p><%= @gym_shop.description %></p>
<% if @gym_shop.photo.attached? %>
  <div>
    <h3>Фотографія:</h3>
    <%= image_tag @gym_shop.photo %> <!-- Відображаємо фотографію -->
  </div>
<% end %>

<% if user_signed_in? && @gym_shop.user == current_user %>
  <%= link_to 'Редагувати', edit_gym_shop_path(@gym_shop), class: 'btn btn-secondary' %>
  <%= button_to 'Видалити', @gym_shop, method: :delete, data: { confirm: 'Ви впевнені?' }, class: 'btn btn-danger' %>
<% end %>

<%= link_to 'Назад', gym_shops_path, class: 'btn btn-primary' %>